.DS_Store
.sass-cache
.tmp
.idea
.settings

dist*
lib/react*
bower_components
node_modules

public/assets/css/*.css
public/assets/fonts/*
public/assets/js/*.min.js
public/assets/js/base.js

*.log
*.nupkg
*.psd
*.zip
*.swp
